:root {
  --gap-size: 2.5rem;
  --padding-size: 2.5rem;
  --background-color: #1a242b;
  --card-bg-color: #2a3a45;
  --text-color: white;
  --link-color: #00bcd4;
  --button-color: #007fff;
  --hover-link-color: #00bcd4;
  --location-episode-color: #fff;
  --details-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-color: #2c3e50;
  --header-color: #e7e7e7;
}
