.characterList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-size);
  padding: var(--padding-size);
  background-color: var(--background-color);
}

@media (max-width: 1024px) {
  .characterList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .characterList {
    grid-template-columns: 1fr;
  }
}
